<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Simple Morse</title>
  <meta name="description" content="Simple Morse">
  <meta name="author" content="Bartosz Nowak">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<form action="/" method="post">
  <input name="morse" type="text">
  <input type="submit" value="Send">
</form>
{% if message %}
  <p>{{ message }}</p>
{% endif %}
</body>
</html>
